//container
.container {
    width: 1300px;
    padding: 0 10px;
    margin: 0 auto;
}

//header
#header {
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    height: 82px;
    background: $color-black;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #2e2e30;
    
    .site {
        flex: 1 1 30%;

        a {
            position: relative;
            text-transform: capitalize;
            display: block;
            padding-left: 40px;
            border-right: 1px solid #2e2e30;
            width: 175px;
            height: 82px;
            padding: 32px 27px 27px 65px;
            text-align: center;
            box-sizing: border-box;

            &::before {
                @include cont;
                position: absolute;
                left: 48px; top: 36px;
                width: 30px;
                height: 1px;
                background: $color-white;
            }
            &::after {
                @include cont;
                position: absolute;
                left: 48px; top:46px;
                width: 30px;
                height: 1px;
                background: $color-white;
            }
        }
    }
    .logo {
        flex: 1 1 30%;
        text-align: center;
        font-size: 2.2rem;
        margin-top: 1.2rem;
        font-family: $font-main;
        font-weight: bold;
        text-transform: uppercase;
    }
    .nav {
        flex: 1 1 30%;
        text-align: right;

        ul {
            margin-top: 20px;
            margin-right: 20px;
        }
        li {
            display: inline;
            
            a {
                display: inline-block;
                padding: 10px;
            }
        }
    }
    a {
        color: $color-white;
    }
}

#header.white {
    background: $color-white;
    border-bottom: 1px solid #dad8d1;

    .site a {
        border-right: 1px solid #dad8d1;
    }
    a {
        color: $color-black;

        &::before {
            background: $color-black;
        }
        &::after {
            background: $color-black;
        }
    }
}

//titleWrap
.titleWrap {
    padding: 20vh 0;

    h1 {
        font-size: 144px;
        font-family: $font-main;
        line-height: 1;

        span {
            display: block;
            text-transform: uppercase;
        }
    }
}

//main
#mainCont {
    background-color: $color-black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainCont {
    margin-top: 4%;
    color: $white;
    font-family: $font-main;
    font-size: 130px;
    line-height: 1;

    .white {
        background-color: #fff;
        color: black;
        
    }
}

//about
#aboutCont {}
.aboutCont {

    > div {
        font-size: 1.2rem;
        font-family: $font-korea-main;

        h2 {
            font-family: $font-korea-main;
            font-size: 1.2rem;
            margin : {
                top: 60px;
                bottom: 30px;
            }
        }
        p {
            line-height: 1.5;
            margin-bottom: 350px;
        }
    }

    > div:nth-child(1) {

        .aiLift {
            width: 100%;
        }
        .aiRight {
            width: 60%;
        }
    }
    > div:nth-child(2){
        display: flex;
        margin-bottom: 350px;

        .aiLeft {
            flex: 1 1 70%
        }
        .aiRight {
            flex: 1 1 40%;
            margin-left: 5%;
        }
        h2 {
            margin-top: 0;
        }
    }
    > div:nth-child(3) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 350px;

        .aiLift {
            flex: 0 0 56%;
        }
        .aiRight {
            flex: 0 0 42%;
        }
        h2 {
            margin-top: 0;
        }
    }
}

//reference
.referCont {   
    margin-bottom: 30vh;

    ul{
        border-top: 1px solid #000;
    }
    li{
        border-bottom: 1px solid #000;
        padding: 20px;
        transition: all 0.33s;

        &:hover {
            background: rgba(0,0,0,0.1);
        }

        a {
            font-family: $font-korea-sub;
            display: flex;
            
            .alpha {
                flex: 0 0 10%;
            }
            .tag {
                flex: 0 0 10%;
            }
            .desc {
                flex: 0 0 70%;
            }
        }
    }
}
.referDetail {
    h3 {
        font-size: 2rem;
        padding-bottom: 10px;
        border-bottom: 2px solid #000;
    }

    dl {
        display: flex;

        dt {
            flex: 1 1 15%;
            padding: 20px 0;
            border-bottom: 1px solid #000;
            text-align: center;
        }
        dd {
            flex: 1 1 85%;
            padding: 20px 0;
            border-bottom: 1px solid #000;
        }
    }
}

//animation
.ain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > div {
        flex: 0 0 30%;
        height: 600px;
        background: #ccc;
        margin-bottom: 5vh;

            .view {
                height: inherit;
            }
    }

    > div.wide {
        flex: 0 0 100%;
    }
}

//contact
#contactCont {
    background-color: $color-black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactCont {
    margin-top: 4%;
    color: $white;
    font-family: $font-main;
    font-size: 130px;
    line-height: 1;

    .text {
        margin-top: 12%;
        font-size: 20px;
        text-align: right;
        font-family: $font-basic;
        font-stretch: ultra-condensed;
    }
}

//script
#scriptCont {}
.scriptCont {}
.script {
    display: flex;
    margin-bottom: 15vh;

    .script-left {
        flex: 1 1 30%;

        h3 {
            font-family: $font-korea-main;
            font-size: 50px;
            margin-top: -8px;
            word-break: keep-all;
        }
    }
    .script-right {
        flex: 1 1 70%;

        .view {
            width: 100%;
            height: 400px;
            background: #ccc;

            iframe {
                width: 100%;
                height: 100%;
                border: 0;
            }
        }
        .num {
            li {
                display: inline-block;
                padding: 5px;
                border-radius: 50%;
                width: 30px; height: 30px;
                box-sizing: border-box;
                text-align: center;
                line-height: 16px;
                border: 1px solid transparent;
                margin: 5px 2px;
                cursor: pointer;
            }
            .active {
                border: 1px solid #000;
            }
        }
    }
}

//site
#siteCont {
    background-color: $color-black;
    h1 {
        color: $white;
    }
}
.siteCont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    a {
        flex: 0 0 32%;
    }

    .site {
        margin-bottom: 30px;

        .siteText {
            background-color: #151515;
            color: $white;
            padding: 35px;

            h2 {
                font-family: $font-main;
                font-size: 50px;
                line-height: 0.9;
                margin-bottom: 15px;
            }
            p {
                font-family: $font-basic;
                font-size: 12px;
                color: #b0aead;
            }
        }
    }
}

//footer
#footer {
    background-color: $color-black;
    height: 100vh;
}

.footer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $color-white;

    > div {

        p {
            font-family: serif;
            font-family: $font-basic;
            font-size: 20px;
            font-weight: 200;
            margin-bottom: 2rem;
        }
        h3 {
            font-family: $font-main;
            font-size: 144px;
            line-height: 1;
            text-transform: uppercase;
            margin-bottom: 5rem;
        }
        a {
            color: $color-white;
            border: 1px solid $color-white;
            border-radius: 50px;
            padding: 18px 53px 18px 53px;
            font-size: 16px;
            font-weight: 300;
            font-family: $font-basic;
            text-transform: uppercase;
        }
    }
}